<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>banner Component's page</title>
</head>
<body>
    <div class="component-container">
        <div class="c-banner">
                <h3 class="c-banner__desc">
                    بوابة الدفع عبر بايونير متاحة!
                </h3>
                <p class="c-banner__desc">
                    تم إضافة بوابة الدفع عبر بايونير لكل متاجر عربي, تستطيع ربط حسابك في بايونير لتستقبل الأموال عبرها
                </p>
                <a href="#" class="c-btn c-btn--ghost">اكتشف المزيد</a>
                <i class="c-icon c-icon--flag c-banner__icon"></i>
                <i class="c-icon c-icon--cancel-circle c-banner__close"></i>
        </div>
    </div>
</body>
</html>