<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>help Component's page</title>
</head>
<body>
    <div class="component-container">
        <div class="c-help">
                <i class="c-help__icon c-icon c-icon--lifebuoy"></i>
                <div>
                    <span class="c-help__titl">تعلم المزيد حول</span>
                    <a href="../index.html" class="c-help__link">المنتجات</a>
                
                </div>
        </div>
    </div>
</body>
</html>